*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-image: url('../img/fundo-pattern.webp');
}

h1{
    font-size: 50px;
}

#conversorName{
    color: rgb(0, 255, 157);
}

.cabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem 1rem;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    margin-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-principal{
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    width: 20rem;
    margin-left: auto;
}

.selecionar{
    padding: 1.25rem;
    border: ridge white;
}

.menu-lateral{
    background-color: #2d2828;
    margin-right: 8rem;
    border-radius: 0.6rem;
    max-width: 20rem;
    max-height: 20rem;
    margin-left: auto;
    font-weight: 600;
}

.menu-lateral a{
    color: white;
}

.menu-lateral a:hover{
    color: rgb(0, 255, 157);
    text-decoration: underline;
}

.div-inserir{
    padding: 20px;
    margin: 0 4px 0 0;
}

.div-info{
    margin-left: 0.5rem;
    font-size: larger;
    font-weight: 1000;
}

.valor{
    border: ridge #2d2828 ;
    padding: 8px;
}

.div-acoes{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.confirmar{
    background-color: rgb(0, 255, 157);
    border: ridge #2d2828 ;
    padding: 8px;
    cursor: pointer;
}

.confirmar:hover{
    background-color: #2d2828;
    color: white;
    transition: 0.2s;
}

.limpar{
    background-color: rgb(0, 255, 157);
    border: ridge #2d2828 ;
    padding: 8px;
    cursor: pointer;
}

.limpar:hover{
    background-color: #2d2828;
    color: white;
    transition: 0.2s;
}

.resultado{
    font-size: small;
    background-color: #fff;
    border: ridge #2d2828 ;
    padding: 6px;
    width: 175px;
    text-align: left;
}

#nmAlteracaone{
    color: rgb(0, 255, 157);
}

#nmAlteracaot{
    color: rgb(0, 255, 157);
}

.rodape{
    height: 5rem;
    bottom: 0rem;
    position: absolute;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.rede-social{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin: 0.8rem 3rem;
    width: 3rem;
    transition: all 0,8s ease-in-out;
    cursor: pointer;
}

.rede-social:hover{
    transform: scale(1.4) rotate(10deg);
}